.colNewRow1 {
    text-align: left;
    font-size: 30px;
    text-shadow: 1px 2px 2px black;
    /* box-shadow: 0 0 10px #000; */
}

.colNewRow1 active{
    font-weight: 45px; 
}

.cardNewRow2 {
    /* Vector 1 */

    margin-bottom: 20px;
    border: 3px solid #FFFAFA
}

.cardNewRow3 {
    /* Vector 1 */

    height: 1px;
    opacity: 0;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(1px);    
    border-right: 1px solid whitesmoke;
    border: 2px solid rgba(255, 253, 253, 0.3);
}

._showing {
    transition: all 0.5s ease 0.5s;
    height: 180px;
    backdrop-filter: blur(9px);    
    opacity: 85%;
}

.titleRow3{
    margin-top: 1em;
    font-size: 18px;
    text-align: center;
    text-shadow: 1px 2px 2px black;
}
.textRow3{
    margin-top: 1em;
    font-size: 14px;
    text-align: justify;
    padding: 15px;
    text-shadow: 1px 2px 2px black;

}